body {
  background-color: lightcoral;
}

section {
  padding: 0 1em;
  text-align: center;
  max-width: 600px;
  margin: 0 auto;
}

h1 {
  text-align: center;
}

.grid
 {
  display: grid;
  grid-template-columns: repeat(3,150px); 
  grid-template-rows: repeat(3,150px); 
  grid-gap:50px 30px; /* 50 pixels of space added between rows and 30 pixels added between columns  */
  justify-content: center;
  grid-auto-rows: 150px;
}

.button {
  border:thin rgb(8, 6, 6) solid;
  padding:10px;
  display: block;
}

@media only screen and (max-width: 600px) {
  .grid {
    grid-template-columns: repeat(2,150px); 
    grid-template-rows: repeat(3,150px); 
  }
  
}

