@import "animation.css";

body {
  background-color: lightcoral;
}

section {
  padding: 0 1em;
  text-align: center;
  max-width: 600px;
  margin: 0 auto;
}

h1 {
  text-align: center;
}

.grid
 {
  display: grid;
  grid-template-columns: repeat(3,150px); 
  grid-template-rows: repeat(3,150px); 
  grid-gap:50px 30px; /* 50 pixels of space added between rows and 30 pixels added between columns  */
  justify-content: center;
  grid-auto-rows: 150px;
}

.button {
  border:thin rgb(8, 6, 6) solid;
  padding:10px;
  display: block;
}

@media only screen and (max-width: 600px) {
  .grid {
    grid-template-columns: repeat(2,150px); 
    grid-template-rows: repeat(3,150px); 
  }
  
}

 .button.button-flip {
  cursor: pointer;
  height: 150px;
  perspective: 600;
  position: relative;
  width: 150px;
}
.card {
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: all 1s ease-in-out;
  width: 100%;
}
.card:hover {
  transform: rotateY(180deg);
}
.side {
  backface-visibility: hidden;
  border-radius: 6px;
  height: 100%;
  position: absolute;
  overflow: hidden;
  width: 100%;
}
.back {
  background: #eaeaed;
  color: #0087cc;
  line-height: 150px;
  text-align: center;
  transform: rotateY(180deg);
}


